.scenario-title-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.tables-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #0b192a;

  .scenario-table {
      flex-grow: 1;
  }
}

.scenario-details {
    width: 50%;
    padding: 20px 25px;
    .scenario-title {
      display: flex;
      .grow {
        flex-grow: 1;
      }
    }
  .scenario-details-grid {
      display: grid;
      gap: 14px;
      grid-template-columns: 1fr 1fr 1fr;

      .scenario-description {
          grid-column: 1 / span 3;
      }

      .scenario-location {
          display: grid;
          gap: 5px;
          align-items: center;
          grid-template-columns: auto 1fr auto 1fr;
          .scenario-location-title {
              grid-column: 1 / span 4;
              align-self: flex-start;
              line-height: 16px;
          }
      }
  }
}