.run-scenario {
    max-width: 800px;
    background-color: #112033;
    display: flex;
    flex-direction: column;

    .run-scenario-title {
        display: flex;
        justify-content: space-between;
        padding: 20px 25px;
    }

    .run-scenario-button {
        width: 180px
    }

    .run-scenario-status {
        display: flex;
        gap: 3px
    }

    .run-scenario-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        flex-grow: 1;
        height: 0;
        overflow: auto;
    }
}

.stations-container {
    flex-grow: 1;
    min-width: 915px;
    padding: 20px 15px 20px 20px;
    overflow: auto;

    .stations-title {
        margin-bottom: 15px;
    }
}

.stations-column {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}