.run-scenario {
    width: 50%;
    max-width: 800px;
    background-color: #112033;
    .run-scenario-title {
        display: flex;
        justify-content: space-between;
        padding: 20px 25px;
    }

    .run-scenario-button {
        width: 180px
    }

    .run-scenario-status {
        display: flex;
        gap: 3px
    }

    .run-scenario-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px
    }
}

.stations-container {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;

    .stations-title {
        margin-bottom: 15px;
    }
}

.stations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}