.scenario-dialog {
    height: 950px;

    .scenario-dialog__title {
        font-size: 16px;
    }

    .step-one {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .last-row {
            display: flex;
            gap: 50px;
        }
        .long-lat {
            flex-grow: 2;
            .lon {
                margin-left: 10px;
            }
        }
        .last-row-content {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 3px;
        }
        .progress-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: -20px;
            height: 45px;
        }
        .progress-bar {
            background-color: #50E3C2;
            height: 4px;
        }
        .progress-placeholder {
            height: 54px;
        }
        .progress-file-name {
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .upload-title {
            margin-bottom: -15px;
        }
    }

    .step-two {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}