* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Black";
  src: url(assets/fonts/Lato/Lato-Black.ttf) format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  background: #143068 url(assets/images/background.svg) no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Lato',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a68eb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="date"]::-webkit-calendar-picker-indicator {
/*display: none;*/
/*-webkit-appearance: none;*/
  filter: invert(1);
}